body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9100;
  height: 50px;
}

nav > *{
  display: inline-flex;
  color: #ffffff;
  margin-inline: 6px;
  text-decoration: none;
  
  
}

nav > *:active{
  color: rgb(255, 0, 170);
}

.main-content{
  display: flex;
  justify-content: center;
}